* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px 8%;

    border-bottom: 1px solid #263247;
}

nav h2 {
    color: #38bdf8;
}

.nav-links a {
    color: #cbd5e1;
    text-decoration: none;
    margin-left: 25px;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */

.hero {
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 80px 20px;
}

.tag {
    color: #38bdf8;
    letter-spacing: 4px;
    font-size: 13px;

    margin-bottom: 25px;
}

.hero h1 {
    max-width: 900px;

    font-size: 60px;
    line-height: 1.1;

    margin-bottom: 25px;
}

.hero h1 span {
    color: #38bdf8;
}

.description {
    max-width: 650px;

    color: #94a3b8;

    font-size: 18px;
    line-height: 1.7;
}

.button {
    margin-top: 35px;

    padding: 14px 28px;

    background: #38bdf8;
    color: #020617;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;
}

.button:hover {
    background: #7dd3fc;
}

/* Skills */

.skills {
    max-width: 1100px;

    margin: auto;

    padding: 80px 25px;
}

.skills > h2 {
    text-align: center;

    font-size: 35px;

    margin-bottom: 45px;
}

.cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.card {
    background: #1e293b;

    border: 1px solid #334155;

    border-radius: 12px;

    padding: 30px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);

    border-color: #38bdf8;
}

.icon {
    font-size: 35px;

    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 12px;
}

.card p {
    color: #94a3b8;

    line-height: 1.6;
}

/* About */

.about {
    max-width: 800px;

    margin: auto;

    padding: 80px 25px;

    text-align: center;
}

.about h2 {
    font-size: 35px;

    margin-bottom: 20px;
}

.about p {
    color: #94a3b8;

    line-height: 1.8;

    font-size: 17px;
}

/* Footer */

footer {
    text-align: center;

    padding: 30px;

    border-top: 1px solid #263247;

    color: #64748b;
}

/* Mobile */

@media (max-width: 700px) {

    nav {
        padding: 20px;
    }

    .nav-links a {
        margin-left: 10px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}